/* COLORS */
$color_000: #000000;
$color_100: #1e1a1b;
$color_200: #2c2627;
$color_300: #3f3d3e;
$color_400: #78686b;
$color_500: #c4c9d4;
$color_600: #dcdfe5;
$color_700: #f3f4f6;
$color_800: #ffffff;

$color_accent: #385ee5;
$color_accent_secondary: #4a6ce8;

/* SHADOW */
$shadow_standard: rgba(149, 157, 165, 0.2) 0px 8px 24px;

/* FONTS */
$font-primary: "__untitledSerif_283d86", "__untitledSerif_Fallback_283d86";
$font-secondary: "__untitledSans_284bd9", "__untitledSans_Fallback_284bd9";

/* FONT SIZE */
$font_size_100: clamp(16px, 1vw, 18px);
$font_size_200: clamp(18px, 2vw, 20px);
$font_size_300: clamp(36px, 5vw, 44px);
$font_size_400: clamp(48px, 6vw, 80px);
$font_size_500: clamp(56px, 7vw, 100px);
$font_size_600: clamp(72px, 14vw, 140px);

/* FONT WEIGHT */
$font_weight_100: 300;
$font_weight_200: 400;
$font_weight_300: 500;
$font_weight_400: 600;

/* SPACING */
$spacing_50: 0.5rem;
$spacing_100: 1rem;
$spacing_200: 2rem;
$spacing_300: 6rem;
$spacing_400: 8rem;
$spacing_500: 10rem;

/* PADDING */
$padding_50: 5px;
$padding_100: 10px;
$padding_200: 20px;
$padding_300: 30px;
$padding_400: 50px;
$padding_500: 100px;

/* BORDERS */
$border_radius_100: 5px;
$border_radius_200: 10px;
$border_radius_300: 20px;
$border_radius_400: 30px;
$border_radius_500: 50px;

$border-standard: 1px solid $color_600;
$border-dark: 1px solid $color_200;

/* ANIMATIONS */
$animation_duration: 0.5s;
$animation_duration_long: 1.5s;
$animation_delay: 0.25s;
$animation_delay_long: 1.25s;
$animation_timing: cubic-bezier(0.33, 1, 0.68, 1);

/* FOR REACT */
:export {
  /* COLORS */
  color100: $color_100;
  color200: $color_200;
  color300: $color_300;
  color400: $color_400;
  color500: $color_500;
  color600: $color_600;
  color700: $color_700;
  color800: $color_800;

  colorAccent: $color_accent;
  colorAccentSecondary: $color_accent_secondary;

  /* SPACING */
  spacing100: $spacing_100;
  spacing200: $spacing_200;
  spacing300: $spacing_300;
  spacing400: $spacing_400;
  spacing500: $spacing_500;

  /* PADDING */
  padding100: $padding_100;
  padding200: $padding_200;
  padding300: $padding_300;
  padding400: $padding_400;
  padding500: $padding_500;

  /* ANIMATION */
  animationDuration: $animation_duration;
  animationDurationLong: $animation_duration_long;
  animationDelay: $animation_delay;
  animationDelayLong: $animation_delay_long;
  animationTiming: $animation_timing;
}
