@import "./_variables";

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $padding-100;

    background-color: rgba(255, 255, 255, 0.8);

    padding: $padding-300;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: $padding-100;
      width: 100%;

      .profile {
        border-radius: $border_radius_200;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }

      .titles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: $padding-100/2;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: $padding-200;

    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $padding-100/2;

    width: 100%;

    hr {
      display: flex;
      flex: 1;
    }
  }

  .assets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: $padding-100/2;

    margin-top: $padding-100;
    width: 100%;
  }

  .gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $padding-400 $padding-200;

    width: 100%;
    height: 100%;

    background: linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 13%, 0.3)
    );
  }

  .make {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: $padding-200;

    background: linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 13%, 0.3)
    );

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.05) 0%
      );
    }

    .large {
      font-weight: 800;
      color: hsla(0, 0%, 0%, 0.25);
      text-shadow: 1.5px 1.5px 0px hsla(0, 100%, 100%, 0.1);
    }
  }

  // .background {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;

  //   background: radial-gradient(
  //     100% 100% at 50% 100%,
  //     rgba(31, 154, 110, 0) 100%
  //   );
  //   border-radius: inherit;
  //   border: 1.5px solid rgba(255, 255, 255, 0.1);

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;

  //     background: radial-gradient(
  //         59.33% 100% at 50% 100%,
  //         // rgba(28, 151, 107, 0.6) 0%,
  //         rgba(28, 29, 37, 0) 100%
  //       ),
  //       rgb(11, 11, 15);
  //   }
  // }
}
