@import "./_variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding: $padding_200 0 $padding_200 $padding_200;

  @media only screen and (max-width: 768px) {
    & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      height: auto;

      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      padding: $padding_200;
    }
  }

  .location {
    p {
      color: $color_200;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;

    backdrop-filter: blur(50px);
    z-index: 10;

    .headerContainer {
      position: relative;

      display: block;
      overflow: hidden;

      .word {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      h3 {
        width: 100%;
      }
    }

    .textContainer {
      max-width: clamp(400px, 70%, 60px);
    }

    .contactContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: $padding_100;
      min-width: 300px;

      padding: $padding_100/2 $padding_100/2 $padding_100/2 $padding_100;
      border-radius: $border-radius-100;
      background: linear-gradient(350deg, $color_700 0%, $color_600 100%);
      border: $border-standard;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px, $color_700 0px 0px 0px 1px;

      transition: box-shadow $animation_duration $animation_timing,
        filter $animation_duration $animation_timing;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px, $color_700 0px 0px 0px 1px,
          $color_700 0px 0px 0px 1px;
        filter: brightness(1.02);
      }

      input {
        display: flex;
        width: 100%;

        background-color: transparent;
        outline: none;
        border: none;

        color: $color_100;
      }

      button {
        background-color: transparent;
        outline: none;
        border: none;
        padding: $padding_50 $padding_200 7px;

        font-size: 18px;

        color: $color_700;
        background: linear-gradient(35deg, $color_300 0%, $color_100 100%);
        border: $border-dark;
        border-radius: $border-radius-100/2;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.12) 0px 0px 0px 1px;

        cursor: pointer;
        background-position: 100%;

        transition: box-shadow $animation_duration $animation_timing,
          filter $animation_duration $animation_timing;

        &:hover {
          filter: brightness(1.5) contrast(1.2);
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.12) 0px 0px 0px 1px, $color_700 0px 0px 0px 1px;
        }
      }
    }
  }
}
